body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
  }

  .back {
    background-color: #FDD2BF;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 60px;
    margin: 10px;
    width: 400px;
    margin-bottom: 1px;
    transition: all 0.3s ease-out;
  }

  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }

  .image {
    max-width: 120px;
    max-height: 120px;
  }

  .blue {
    border-left: 3px solid #4895ff;
  }

  .green {
    border-left: 3px solid #3bb54a;
  }

  .red {
    border-left: 3px solid #b3404a;
  }

  .block {
    height: 300px;
    width: 15px;
  }
  h1 {
    text-align: center;
    padding: 4px;
    margin-bottom: 1px;
  }