
   .card-image {
       width: 150px;
       height: 150px;
       border-radius: 50%;
       overflow: hidden;
       position: absolute;
       top: 0;
       left: 50%;
       transform: translate(-50%, -50%);
       box-shadow: 0 15px 35px -15px rbga(0,0,0,0,5),0 5px 20px 0 rgba(0,0,0,0,1);
       border-color: aliceblue;
    }
    body {
        min-height: 100vh;
        width: 100%;
        background-color: rgb(253, 202, 191
        );
        display: flex;
        /*Responsive behavior*/
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }
    p {
        line-height: 24px;
        letter-spacing: 0.5px;
        margin-bottom: 12px;
        text-align: center;
    }
    .card-image img {
    width: 100%;
    transform: scale(1,2);
         }
    .card {
        position: relative;
        width: 300px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0, 15);
        padding: 16px;
        margin: 56px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 10px;
    }
        .name {
        margin-top: 80px;
        font-size: 1.4em;
        color: #333;
        font-weight: bold;
        letter-spacing: 0.8px;
        margin-bottom: 8px;
    }
    .menu { 
        background-color: rgb(255, 107, 107); 
        width: 100%;
        height: 100px;
        text-align: center;
        position: absolute;
        top: 0;
        position: center;

    }
    .texto{
        text-align: center;
        position: relative;
        margin-right: 100px ;
        bottom: 250px;
        left: 730px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100%;
        font-size: 200%;
    }
    nav a {
        color: white;
    }
    nav a:hover{ 
        transition: 0.5s; background-color: rgba(22, 20, 19, 0.719);
         color: gray;
    }
    .logo img{
            width: 200px; 
            border-radius: 50%;
    }
    

  
    